<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExtensionFile" value="txt" />
		<add key="PrefixFolder" value="DataQuestion" />
		<add key="Question1" value="question1_digrapth|question1_undigrapth" />
		<add key="Question2" value="question2_adjacencymatrix" />
	</appSettings>
</configuration>